@import "tailwindcss";

body {
  font-family: var(--font-ncm-08-serif);
}

/*
pre[data-theme] {
  background-color: var(--shiki-light-bg);
}

pre[data-theme] span {
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  pre[data-theme] {
    background-color: var(--shiki-dark-bg);
  }

  pre[data-theme] span {
    color: var(--shiki-dark);
  }
}*/

[data-theme='dark'] .shiki,
[data-theme='dark'] .shiki span {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
}

[data-theme='light'] .shiki,
[data-theme='light'] .shiki span {
  background-color: var(--shiki-light-bg) !important;
  color: var(--shiki-light) !important;
}

.ncm10serif {
  font-family: var(--font-ncm-10-serif);
}

.ncm08serif {
  font-family: var(--font-ncm-08-serif);
}

.ncm10sans {
  font-family: var(--font-ncm-10-sans);
}

.ncm08sans {
  font-family: var(--font-ncm-08-sans);
}

.ncm10mono {
  font-family: var(--font-ncm-10-mono);
}

